@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh
}

body{
  font-family: "Lato", sans-serif;
  width: 100%;
  margin: 0px;
  height: 100vh;
  padding: 0;
}

.scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

